.UserBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserBox p {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.UserBox button {
    width: 150px;
    height: 40px;
    margin: 5px;
    background-color: chartreuse;
    border-radius: 10px;
    border-style: none;
}

.UserBox button:hover {
    background-color: rgb(82, 165, 0);
}

@media (max-width: 426px) {
    .UserBox {
        flex-direction: column;
    }

    .UserBox p {
        margin-bottom: 15px;
        margin-top: 10px;
    }
}