.Main {
    padding-top: 30px;
}

.Main .addProduct {
    height: 50px;
    width: 200px;
    border-style: none;
    background-color: chartreuse;
    border-radius: 10px;
    font-size: 16pt;
}

.Main .addProduct:hover {
    background-color: rgb(82, 165, 0);
}

.Main .mainGrid {
    width: 100%;
    padding: 30px;
    row-gap: 30px;
    min-height: calc(100vh - 50px - 50px);
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .Main .mainGrid {
        min-height: calc(100vh - 160px - 50px);
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 426px) {
    .Main .mainGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}